<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teachmgr.teachexecute.mapper.TeachPracticeHomeworkMapper">
    
    <resultMap type="TeachPracticeHomework" id="TeachPracticeHomeworkResult">
        <result property="homeworkId"    column="homework_id"    />
        <result property="practiceSemester"    column="practice_semester"    />
        <result property="practicePlanId"    column="practice_plan_id"    />
        <result property="practiceName"    column="practice_name"    />
        <result property="courseName"    column="course_name"    />
        <result property="chapterName"    column="chapter_name"    />
        <result property="courseTargetName"    column="course_target_name"    />
        <result property="practiceWeight"    column="practice_weight"    />
        <result property="examId"    column="exam_id"    />
        <result property="examName"    column="exam_name"    />
        <result property="evaluateStatus"    column="evaluate_status"    />
        <result property="paperEvaluate"    column="paper_evaluate"    />
        <result property="practiceScore"    column="practice_score"    />
    </resultMap>

    <sql id="selectTeachPracticeHomeworkVo">
        select homework_id, practice_semester, practice_plan_id, practice_name, course_name, chapter_name, course_target_name, practice_weight, exam_id, exam_name, evaluate_status, paper_evaluate, practice_score from teach_practice_homework
    </sql>

    <select id="selectTeachPracticeHomeworkList" parameterType="TeachPracticeHomework" resultMap="TeachPracticeHomeworkResult">
        <include refid="selectTeachPracticeHomeworkVo"/>
        <where>  
            <if test="practiceSemester != null  and practiceSemester != ''"> and practice_semester = #{practiceSemester}</if>
            <if test="practicePlanId != null "> and practice_plan_id = #{practicePlanId}</if>
            <if test="practiceName != null  and practiceName != ''"> and practice_name like concat('%', #{practiceName}, '%')</if>
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="chapterName != null  and chapterName != ''"> and chapter_name like concat('%', #{chapterName}, '%')</if>
            <if test="courseTargetName != null  and courseTargetName != ''"> and course_target_name like concat('%', #{courseTargetName}, '%')</if>
            <if test="practiceWeight != null "> and practice_weight = #{practiceWeight}</if>
            <if test="examId != null "> and exam_id = #{examId}</if>
            <if test="examName != null  and examName != ''"> and exam_name like concat('%', #{examName}, '%')</if>
            <if test="evaluateStatus != null  and evaluateStatus != ''"> and evaluate_status = #{evaluateStatus}</if>
            <if test="paperEvaluate != null  and paperEvaluate != ''"> and paper_evaluate = #{paperEvaluate}</if>
            <if test="practiceScore != null "> and practice_score = #{practiceScore}</if>
        </where>
    </select>
    
    <select id="selectTeachPracticeHomeworkByHomeworkId" parameterType="Long" resultMap="TeachPracticeHomeworkResult">
        <include refid="selectTeachPracticeHomeworkVo"/>
        where homework_id = #{homeworkId}
    </select>
        
    <insert id="insertTeachPracticeHomework" parameterType="TeachPracticeHomework" useGeneratedKeys="true" keyProperty="homeworkId">
        insert into teach_practice_homework
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="practiceSemester != null">practice_semester,</if>
            <if test="practicePlanId != null">practice_plan_id,</if>
            <if test="practiceName != null">practice_name,</if>
            <if test="courseName != null">course_name,</if>
            <if test="chapterName != null">chapter_name,</if>
            <if test="courseTargetName != null">course_target_name,</if>
            <if test="practiceWeight != null">practice_weight,</if>
            <if test="examId != null">exam_id,</if>
            <if test="examName != null">exam_name,</if>
            <if test="evaluateStatus != null">evaluate_status,</if>
            <if test="paperEvaluate != null">paper_evaluate,</if>
            <if test="practiceScore != null">practice_score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="practiceSemester != null">#{practiceSemester},</if>
            <if test="practicePlanId != null">#{practicePlanId},</if>
            <if test="practiceName != null">#{practiceName},</if>
            <if test="courseName != null">#{courseName},</if>
            <if test="chapterName != null">#{chapterName},</if>
            <if test="courseTargetName != null">#{courseTargetName},</if>
            <if test="practiceWeight != null">#{practiceWeight},</if>
            <if test="examId != null">#{examId},</if>
            <if test="examName != null">#{examName},</if>
            <if test="evaluateStatus != null">#{evaluateStatus},</if>
            <if test="paperEvaluate != null">#{paperEvaluate},</if>
            <if test="practiceScore != null">#{practiceScore},</if>
         </trim>
    </insert>

    <update id="updateTeachPracticeHomework" parameterType="TeachPracticeHomework">
        update teach_practice_homework
        <trim prefix="SET" suffixOverrides=",">
            <if test="practiceSemester != null">practice_semester = #{practiceSemester},</if>
            <if test="practicePlanId != null">practice_plan_id = #{practicePlanId},</if>
            <if test="practiceName != null">practice_name = #{practiceName},</if>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="chapterName != null">chapter_name = #{chapterName},</if>
            <if test="courseTargetName != null">course_target_name = #{courseTargetName},</if>
            <if test="practiceWeight != null">practice_weight = #{practiceWeight},</if>
            <if test="examId != null">exam_id = #{examId},</if>
            <if test="examName != null">exam_name = #{examName},</if>
            <if test="evaluateStatus != null">evaluate_status = #{evaluateStatus},</if>
            <if test="paperEvaluate != null">paper_evaluate = #{paperEvaluate},</if>
            <if test="practiceScore != null">practice_score = #{practiceScore},</if>
        </trim>
        where homework_id = #{homeworkId}
    </update>

    <delete id="deleteTeachPracticeHomeworkByHomeworkId" parameterType="Long">
        delete from teach_practice_homework where homework_id = #{homeworkId}
    </delete>

    <delete id="deleteTeachPracticeHomeworkByHomeworkIds" parameterType="String">
        delete from teach_practice_homework where homework_id in 
        <foreach item="homeworkId" collection="array" open="(" separator="," close=")">
            #{homeworkId}
        </foreach>
    </delete>
</mapper>